@import "../../../scss/variables";
@import "../../../scss/designMixin";

.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;

  > label {
    display: flex;
    cursor: pointer;
  }

  .label {
    line-height: 22px;

    &:not(:empty) {
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }
  }

  .input {
    display: none;
  }

  .checkmark {
    display: inline-block;
    user-select: none;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
    }

    @include design($material) {
      width: 18px;
      height: 18px;
      margin: 2px;

      &::before {
        border: 2px solid #717171;
        border-radius: 2px;
        transition: background-color 0.1s linear 0.2s, border-color 0.1s linear 0.2s;
        background-color: transparent;
      }
    }
    @include design($flat) {
      width: 22px;
      height: 22px;

      &::before {
        background: transparent;
        border: 1px solid #c7c7cd;
        border-radius: 22px;
      }
    }
  }

  input:checked + {
    .checkmark {
      &::after {
        content: " ";
        position: absolute;
        height: 5px;
        background: transparent;
        border-radius: 0;
        transform: rotate(-45deg);
        border: 2px none #fff;
        border-bottom-style: solid;
        border-left-style: solid;
      }

      @include design($material) {
        &::before {
          border: 2px solid #37474f;
          background-color: #37474f;
          transition: background-color 0.1s linear, border-color 0.1s linear;
        }
        &::after {
          transition: transform 0.2s ease 0.2s;
          top: 5px;
          left: 4px;
          width: 10px;

        }
      }
      @include design($flat) {
        &::before {
          border: none;
          background: #0076ff;
        }
        &::after {
          top: 7px;
          left: 5px;
          width: 11px;
        }
      }
    }
  }
}
