$primaryColor: #18181B; // Gray-900
$secondaryColor: #71717a; // Gray-500
$tertiaryColor: #A1A1AA; // Gray-400

:root {
  --text-primary-default-color: #{$primaryColor};
  --text-prmary: #{$primaryColor};
  --text-secondary: #{$secondaryColor};
  --text-tertiary: #{$tertiaryColor};
}

.text {
  display: inline;

  &.block {
    display: block;
  }

  &.heading {
    font-weight: bold;
  }

  &.primaryDefault {
    color: var(--text-primary-default-color)
  }

  &.primary {
    color: var(--text-primary)
  }

  &.secondary {
    color: var(--text-secondary);
  }

  &.tertiary {
    color: var(--text-tertiary);
  }

  &.xsmall {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &.small {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &.medium {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &.large {
    font-size: 1.125rem;
    line-height: 1.75;
  }

  &.xlarge {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &.xxlarge {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &.emphasized {
    font-weight: bold;
  }
}
