$primaryColor: #000000;
$secondaryColor: #717171;

:root {
  --text-primary-default-color: $primaryColor;
}

.text {
  display: inline;

  &.block {
    display: block;
  }

  &.heading {
    font-weight: bold;
  }

  &.primaryDefault {
    color: var(--text-primary-default-color)
  }

  &.primary {
    color: $primaryColor
  }

  &.secondary {
    color: $secondaryColor;
  }

  &.small {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &.medium {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &.large {
    font-size: 1.125rem;
    line-height: 1.75;
  }

  &.xlarge {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &.xxlarge {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
