@include prefix("body") {
  display: inline-block;
  @include prefix("block", true) {
    display: block;
  }
  @include prefix("secondary", true) {
    color: #717171;
  }
  @include prefix("small", true) {
    font-size: 0.8rem;
  }
}
