@import "../../scss/variables";
@import "../../scss/designMixin";

.topBar {
  // navbar-expand
  flex-wrap: nowrap;
  justify-content: flex-start;

  // navbar
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  background: white;
  height: 56px;

  .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
  }

  .button {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d3efd; // TODO change color
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    &.disabled {
      color: #6c757d; // TODO change color
      pointer-events: none;
      cursor: default;
    }
  }

  &.transparent {
    opacity: 0.65;
    z-index: 1;
  }

  &.drawBehind {
    position: absolute;
    left: 0;
    right: 0;
  }

  .titleContainer {
    overflow: hidden;

    .title {
      color: rgba(0, 0, 0, 0.55); // TODO Change color
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .buttonContainer {
    white-space: nowrap;
    display: flex;
    flex: 1;
    min-width: -webkit-min-content;

    &.right {
      justify-content: flex-end;
    }

    &.left {
      justify-content: flex-start;
    }
  }

  .hiddenContainer {
    position: relative;

    .hiddenCloseCurtain {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 998;
    }

    .hiddenMenu {
      position: absolute;
      right: 0;
      white-space: nowrap;
      display: flex;
      min-width: -webkit-min-content;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 999;
      background-color: white;
      border: 1px solid #717171;
    }
  }

  @include design($material) {
    box-shadow: 0 1px 5px rgb(0 0 0 / 30%);

    .hiddenActionMenu {
      display: none;
    }
  }
  @include design($flat) {
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 100%);

    .hiddenContainer {
      display: none;
    }
  }
}
