@import "../../../scss/variables";
@import "../../../scss/designMixin";
@import "../../../scss/flavorMixin";

.button {
  cursor: pointer;
  margin: 0;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  letter-spacing: 0;
  vertical-align: middle;
  border-radius: 3px;
  transition: none;

  @include flavorSelection(--button-color);

  @include design($material) {
    box-shadow: $boxShadowMaterial;
    min-height: 40px;
    line-height: 40px;
    padding: 0 16px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }

  @include design($flat) {
    line-height: 32px;
    padding: 4px 18px;
    font-size: 17px;
  }

  &.primary {
    background-color: var(--button-color);
    border: 0 solid currentColor;
    color: white;
    --text-primary-default-color: white;
  }

  &.secondary {
    background-color: transparent;
    border: 1px solid var(--button-color);
    color: var(--button-color);
    --text-primary-default-color: var(--button-color);
  }

  &.disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }

  &.small {
    @include design($material) {
      min-height: 17px;
      line-height: 17px;
      padding: 0 8px;
    }

    @include design($flat) {
      line-height: 17px;
      padding: 4px 9px;
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
