@include prefix("flex") {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include prefix("vertical", true) {
    flex-direction: column;
  }
}

@include prefix("grow") {
  flex: 1;
  @include prefix("center", true) {
    text-align: center;
  }
}
