.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.horizontal {
    flex-direction: row;
  }
}

.grow {
  flex: 1;

  &.center {
    text-align: center;
  }
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}
