.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &.vertical {
    flex-direction: column;
  }
}

.grow {
  flex: 1;

  &.center {
    text-align: center;
  }
}
