@import "../../scss/variables";
@import "../../scss/designMixin";

$marginCard: 8px;

.card {
  margin: $marginCard;
  padding: 16px;
  word-wrap: break-word;
  background-color: #ffffff;

  &.fullHeight {
    height: calc(100% - #{2*$marginCard})
  }

  &.noPaddingHeight {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.noPaddingWidth {
    padding-left: 0;
    padding-right: 0;
  }

  &.noPadding {
    padding: 0
  }

  &.noMargin {
    margin: 0;

    &.fullHeight {
      height: 100%
    }
  }

  .content {
    font-size: $fontSizeBase;
    margin: 0;
    line-height: 1.4;
  }

  .title {
    padding: 0;
  }

  @include design($material) {
    border-radius: 2px;
    box-shadow: $boxShadowMaterial;

    .content {
      color: #000000;
      color: rgba(0, 0, 0, 0.54);
    }

    .title {
      margin: 8px 0 12px 0;
      font-size: 24px;
    }
  }

  @include design($flat) {
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);

    .content {
      color: #030303;
    }

    .title {
      margin: 4px 0 8px 0;
      font-size: 20px;
    }
  }
}
