@import "../../../scss/variables";
@import "../../../scss/designMixin";

.switch {
  cursor: pointer;
  position: relative;
  display: inline-block;

  > label {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .label {
    &:not(:empty) {
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }
  }

  input {
    display: none;
  }

  .toggle {
    flex-shrink: 0;
    width: 40px;
    display: inline-block;
    position: relative;
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
    border-radius: 30px;

    .handle {
      left: var(--switch-handle-offset, 0);
      transition-property: all;
      transition-duration: 0.35s;
      transition-timing-function: cubic-bezier(.59, .01, .5, .99);
      border-radius: 100%;
      background-clip: padding-box;
      position: absolute;
      content: '';
    }
  }

  %dual-handle-material {
    background-color: var(--flavor-accent);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  }

  %dual-toggle-flat {
    background-color: #44db5e;
    box-shadow: inset 0 0 0 2px #44db5e;
  }

  %dual-handle-flat {
    background-color: #ffffff;
    top: 2px;
    box-shadow: 0 3px 2px rgb(0 0 0 / 25%);
  }

  @include design($material) {
    --switch-handle-checked-offset: 18px;
    --switch-handle-offset: 0px;

    input:checked + .toggle {
      --switch-handle-offset: var(--switch-handle-checked-offset);

      .handle {
        @extend %dual-handle-material;
      }
    }

    .toggle {
      background-color: rgba(55, 71, 79, 0.5);

      margin-top: 4px;
      height: 15px;

      .handle {
        margin-top: -4px;
        width: 22px;
        height: 22px;
        background-color: #f1f1f1;
        box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 40%);

        &:before {
          background: transparent;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          z-index: 0;
          box-shadow: 0 0 0 0 rgb(0 0 0 / 12%);
          transition: box-shadow 0.1s linear;
        }
      }
    }
  }

  @include design($flat) {
    --switch-handle-offset: 2px;
    --switch-handle-checked-offset: 19px;

    input:checked + .toggle {
      @extend %dual-toggle-flat;
      --switch-handle-offset: var(--switch-handle-checked-offset);

      .handle {
        @extend %dual-handle-flat;
      }

    }

    .toggle {
      height: 23px;

      background-color: white;
      box-shadow: inset 0 0 0 2px #e5e5e5;

      .handle {
        height: 19px;
        width: 19px;
        background-color: #ffffff;
        top: 2px;
        box-shadow: 0 0 1px 0 rgb(0 0 0 / 25%), 0 3px 2px rgb(0 0 0 / 25%);
      }
    }
  }

  &.dual {
    @include design($material) {
      .toggle {
        .handle {
          @extend %dual-handle-material;
        }
      }
    }
    @include design($flat) {
      .toggle {
        @extend %dual-toggle-flat;

        .handle {
          @extend %dual-handle-flat;
        }
      }
    }
  }
}
