@import "../../scss/variables";
@import "../../scss/designMixin";

.dialogContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 1001;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  .closeCurtain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .dialog {
    max-width: map-get($grid-breakpoints, "xxl");
    z-index: 1;
  }
}
