@import "../../scss/variables";
@import "../../scss/designMixin";

@keyframes loadingCircle {
  0% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 201%, 50.322%;
    stroke-dashoffset: -100%;
  }
  100% {
    stroke-dasharray: 10%, 241.32%;
    stroke-dashoffset: -251.32%;
  }
}

@keyframes loadingCircleRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingCircle {
  .spinner {
    stroke-miterlimit: 10;
    transform-origin: 50%;
    animation: loadingCircle 2s ease-in-out infinite, loadingCircleRotate 1.5s linear infinite;
    stroke: var(--flavor-accent);

    @include design($material) {
      stroke-width: 9%;
    }
    @include design($flat) {
      stroke-width: 5%;
    }
  }
}
