:global(.full-height) {
  height: 100%;
}

:global(.full-min-height) {
  min-height: 100%;
}

:global(.scrollable) {
  overflow-y: auto;
}

:global(.full-width) {
  width: 100%;
}

:global(.flat-hidden) {
  @include design($flat) {
    display: none;
  }
}

:global(.material-hidden) {
  @include design($material) {
    display: none;
  }
}
