.full-height {
  height: 100%;
}

.full-min-height {
  min-height: 100%;
}

.scrollable {
  overflow-y: auto;
}

:global(.full-width) {
  width: 100%;
}

.#{$flat} .#{$flat}-hidden {
  display: none;
}

.#{$material} .#{$material}-hidden {
  display: none;
}
