@include design($material) {
  --flavor-accent: #37474f;
}

:root {
  --border-light: #cecece;
  --border-strong: #717171;
  --flavor-basic: #000000
}

@include design($flat) {
  --flavor-accent: #0076ff;
}
