

:root {
  --flavor-basic: #000000;
  --flavor-constructive: #15803D;
  --flavor-destructive: #B91C1C;

  --background-light: #dedede;
  --border-light: #cecece;
  --border-strong: #717171;
  --background-destructive: #FECACA; // Red-200

  --text-error: var(--flavor-destructive);

}

.#{$material} {
  --flavor-accent: #37474f;
  --background-accent: #62727b;
}

.#{$flat} {
  --flavor-accent: #0076ff;
  --background-accent: #adcdfd;
}
